<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>microservice</title>
    <link rel="stylesheet" href="microservice.css">
</head>

<body>
    <div id="divLogin">
        <div class="headerLogin">
            <h1>LOGIN</h1>
        </div>
        <div class="formLogin">
            <input type="text" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <button id="buttonLogin">Login</button>
        </div>
    </div>

    <div id="divMain">
        <div class="headerMain">

        </div>
        <div class="listProduct">

        </div>
        <button id="buttonLogout">Logout</button>
    </div>

    <script src="microservice.js"></script>
    <script src="buttonHandler.js"></script>
</body>

</html>